/* base */
@import '../base/base.css';
@import '../base/layot.css';

/* 3rd-party */

/* components */
@import '../components/button.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */




.hero {
    min-height: 100vh;
    text-align: center;
    color: #fff;
    background-image: url(../../img/hero-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero .logo {
    width: 100%;
    height: 49px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 40px;
}
.hero .title {
    margin-bottom: 20px;
    font-size: 55 px;
    text-transform: uppercase;
    color: #333;
}